#loginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    width: 300px;
    height: 400px;

    color: white;
    background-color: midnightblue;
}

.loginField {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px;
}

.loginField > label {
    margin: 5px;

    width: 100px;
}

#loginButton {
    margin: 10px;

    width: 100px;

    color: #1f2028;
    background-color: white;
}
