#quizResultsContainer {
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

#questionList {
    list-style: none;
    padding: 0;
}

#questionList > li {
    padding: 5px;
}