#quizContainer {
    width: 650px;
}

#quizNumButtons {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
}

#quizNavButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
}